/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top:2rem;

}
:root{
    --main-color: #F4A460;
    --body-color: #f7f4f2;
    --bg-color: black;
    --container-color: #FAEBD7;
    --headding-color: #f3d3a9;
    --box-color: #f3d3a9;
    
}
body{
    color: var(--bg-color);
    background: var(--body-color);

}
html::-webkit-scrollbar{
    width: 1rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--headding-color);
}
section{
    padding: 3 rem 0 2rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-active{
    background: var(--container-color);
    transition: 0.4s;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
.logo{
    font-size: 1.2 rem;
    font-weight: 600;
    color: var(--main-color);
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5 rem;
}
.nav-link{
    font-size: 0.94 rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}
.nav-link:hover{
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.3s all linear;
}
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}
.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
    opacity: 0;
}
.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}
.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5 rem;
    font-size: 1.1rem;
    color: var(--main-color)
}
.home-text h3::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width:20px;
    height: 2px;
    background-color: var(--main-color);
}
.home-text h3::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width:20px;
    height: 2px;
    background-color: var(--main-color);
}
.home-text h2{
    font-size: 3.5rem;
    line-height: 4.8rem;
}
.home-text p{
    font-size: 0.938rem;
    margin-bottom: 1.5rem;
}
.home-text .color{
    color: var(--main-color);
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .bx{
    font-size: 1.3rem;
    padding:10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color)
}
.social .bx:hover{
    background: var(--main-color);
    transition: 0.3s all linear;
}
.heading{
    font-size:5rem;
    text-transform: uppercase;
    color: var(--headding-color);
    text-align: center;
    margin-bottom: 2rem;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.about-data span{
    font-size: 1rem;
    font-weight:500;
    text-transform:uppercase;
    color: var(--main-color);
}
.about-data a{
    color: var(--bg-color)
}
.about-data h2{
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 1rem 0;
}
.btn{
    font-size: 0.97;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--main-color);
    background: var(--main-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}
.btn:hover{
    background-color: var(--container-color);
    transition: 0.3s all linear;
}
.about-text p{
    font-size: 0.938rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}
.skills-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.skills-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:  15px;
    background: var(--container-color);
    border-radius: 0.4rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165,1)
}
.skills-box:hover{
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165,1)
}
.skills-box .bx{
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 10px;
    border-radius: 5rem;
    border: 2px dashed var(--bg-color);
}
.skills-box h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: var(--main-color);
}
.skills-box p{
    font-size: 0.9rem;
}
.project-box{
    width: 100%;
    padding: 20px;

    /* padding-left: 2rem; */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: var(--box-color);
    transition: all 0.3s linear;
    cursor: pointer;
}
.project-box h4{
    font-size: 1rem;
}
.project-box p{
    font-size: 1rem;
}
.project-box:hover{
    transform: scale(1.01);
}
.project-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
}
.footer p{
    font-style: 0.9rem;
}
.scroll-top{
    position: fixed;
    border-top: 2rem;
    right: 1.5rem;
    bottom: -100%;
}
.scroll-top .bx{
    z-index: -1;
    font-size: 25px;
    padding: 8px;
    font-style: 1.3rem;
    color: var(--bg-color);
    background-color: var(--box-color);
    border-radius: 0.2rem;
}
.scroll-top .bx:hover{
    background: var(--container-color);
    transition: 0.3s;
}
.scroll-active{
    bottom:2rem;
    transition: 0.2s ease-in-out;
}

@media (max-width: 990px){
    .container {
        margin: 0 auto;
        width: 90%
    }
}
@media (max-width: 892px){
    section{
        padding: 2rem 0;
    }
    .nav{
        padding: 12px 0;
    }
    .heading{
        font-size: 4rem;
    }
    .project-box h4{
    font-size: 0.9rem;
}
.project-box p{
    font-size: 0.9rem;
}
}

@media (max-width: 775px){
    .logo{
        font-size: 1.1rem;
    }
    .home{
        min-height: 500px;
        padding-top: 6rem;
    }
    .home-text h3{
        font-size: 1rem;
    }
    .home-text h2{
        font-size: 3rem;
        line-height: 3.8rem;
    }
    .home-text p{
        font-size: 0.825rem;
    }
    .menu-icon{
        display: flex;
    }
    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--box-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.75s all cubic-bezier(0.075, 0.82, 0.165, 1)
    }
    .open-menu{
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1)
    }
    .nav-link{
        display: block;
        margin: 1rem 0;

    }
}
@media (max-width: 635px){
    .about-content{
        grid-template-columns: 1fr;
    }
    .about-data span{
        font-size: 0.9rem;
    }
    .about-data h2{
        font-size: 1.7rem;
        line-height: 2.3rem;
        font-weight: 600;
        margin: 0.8rem 0;
    }
    .about-text p {
        font-size: 0.825rem;
        margin-bottom: 1.3rem;
    }
}

@media (max-width: 450px){
    .home{
        min-height: 485px;
        padding-top: 5rem;
    }
    .home-text h2{
        font-size: 2.1rem;
        line-height: 3.2rem;
    }
    .home-text p br{
        display: contents;
    }
    .heading{
        font-size: 3rem;
    }
    .about-data h2{
        font-size: 1.5rem;
        line-height: 2.1rem;
        margin: 0.6rem 0;
    }
    .skills-content{
        grid-template-columns: 1fr;
    }
    .project-box h4{
    font-size: 0.8rem;
}
    .project-box p{
    font-size: 0.8rem;
}
}
@media (max-width: 325px){
    .navbar{
        width: 100%;
    }
}
@media (max-width: 274px){
    .project-box h4{
    font-size: 0.8rem;
}
    .project-box p{
    font-size: 0.8rem;
}
}